# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
terraform.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Secrets
.env
*.pem
*.key
*.pfx
*.crt
secrets/
credentials/
tokens/

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

# Python
__pycache__/
*.pyc
.venv/
venv/
